//뉴스
#container.news{
  
  .cont{
    width:94%;
    max-width:1200px;
    margin:0 auto;
    @include after;
    a{color:$fontGray}
    .search{
      background-color:$bgGray;
      width:100%;
      height:105px;
      margin-bottom:40px;
      ul{
        display: table;
        height: 100%;
        margin: 0 auto;
        >li{
          display: table-cell;
          vertical-align: middle;
          &.bar_area{
            >div{
              position: relative;
              padding-left:8px;
            }
            a.search_btn{
              text-indent:-9999px;
              display: block;
              overflow: hidden;
              position: absolute;
              right:0;
              top: 0;
              height: 46px;
              width: 46px;
              background-image: url(../images/icon/search_icon.png);
              background-repeat:no-repeat;
              background-position: center;
            }
          }
          select{
            border:1px solid $gray;
            padding:0 20px;
            width:165px;
            height:45px;
            color:$fontGray;
            box-sizing: border-box;
            background-color:$white;
          }
          input{
            padding:0 20px;
            box-sizing: border-box;
            border:1px solid $gray;
            width: 590px;
            height:45px;
          }
        }
      }
    }

    .list_style {
      a{
        &:hover{
          background-color:$bgGray;
          .li_tit{
            color:$red;
          }
        }
      }
    }

    .view{
      border-bottom:1px solid $lightenGray;
      .info{
        border-top:1px solid $black;
        border-bottom:1px solid $lightenGray;
        padding:20px 35px;
        box-sizing: border-box;
        .cont_tit{font-size:22px;}
        p{
          margin-top:15px;
          font-size:$fontSizeM;
          span{font-weight:bold;padding-right:35px;padding-left:5px;}
        }
      }
      .contents{
        padding:45px 35px 60px;
        box-sizing: border-box;
        color:$fontGray;
        *{color:$fontGray;}
        img{max-width:100%;}
      }
      .nav{
        li{
          border-top:1px solid $lightenGray;
          height:55px;
          background-image: url(../images/icon/view_nav.png);
          background-repeat:no-repeat;
          background-position:35px 24px;
          background-size: 12px;
          padding-left:65px;
          display: table;
          width:100%;
          padding-right:10px;
          box-sizing: border-box;
          &.next{
            background-position-y: -36px;
          }
          a{
            display: table-cell;
            vertical-align: middle;
            &:nth-child(1){width:7%;}
            &:nth-child(2){width:93%;}
            em{font-weight:500;line-height:1.1;display: block;}
            p{
              display:-webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              line-height:1.1;
              height:1.1em;
              text-overflow: ellipsis;
              width:100%;
              -webkit-line-clamp:1;
            }
          }
        }
      }

    }

    .tit{
      padding:0 13px;
    }
    

    .motto{
      padding:100px 0;

      &.fixed_bg{
        background-image:url(#{$imgSub}company/company_btm01.jpg);
      }

      ul{
        width:100%;
        max-width:1200px;
        margin:40px auto 0;
        @include after;

        li{
          float:left;
          width:$grid3;
          color:$white;
          font-size:$fontSize+2;
          position: relative;

          @include respond-to('large') {
            width:$grid1;
            margin-top:20px;

            &:first-child{
              margin-top:0;

            }
          }

          img{
            @include btn_img(block, 100%, auto);
            max-width: 300px;
            margin: auto;
          }

          span{
            @include absolute(50%, 0, auto, 0);
            margin: auto;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            cursor: default;

            h3{
              text-transform: uppercase;
              font-size:$fontSize+24;
              margin-bottom:20px;
              line-height:1;
              cursor: default;
            }

            &:before{
              display:block;

            }
          }

          &:hover{
            background:url(#{$imgSub}company/company_motto_bg_hover.png) no-repeat center;

            img{
              opacity:0;
            }
          }
          
        }
      }
    }

  }
}



//제품카타로그
#container.catalog{ 
  .cont{
    width:94%;
    max-width:1200px;
    margin:0 auto;
    @include after;

    .cont_section{
      .img_list{
        > ul{
          width:102%;
          margin-left:-2%;
          @include after;

          @include respond-to('small') {
            width: 104%;
            margin-left: -4%;
          }
          @include respond-to('ssmall') {
            width: 96%;
            margin: 0 auto;
          }

          >li{
            width: 23%;
            margin-left: 2%;
            float: left;
            margin-bottom: 60px;

            @include respond-to('large') {
              width:31.33%;
            }
            @include respond-to('small') {
              width: 46%;
              margin-left: 4%;
              margin-bottom: 40px;
            }
            @include respond-to('ssmall') {
              width: 100%;
              margin-left: 0%;
            }

            .list-item{
              text-align:center;

              .img{
                display: block;
                text-align: center;

                @include respond-to('ssmall') {
                  max-width: 300px;
                  margin: 0 auto;
                }

                > div{
                  @include btn_img(inline-block, 100%, auto);
                  background: $darkWhite;
                  border: 1px solid $lightenGray;
                  padding-bottom: 5px;
                  
                  > img{
                    @include btn_img(block, 100%, auto);
                    margin-top: -6px;
                    margin-left: -6px;
                    border: 1px solid $lightenGray;
                    @include boxsize;
                  }
                }
              }

              > div{
                p{
                  height: 43px;
                  font-weight: normal;
                  margin: 15px auto 25px;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size:18px;
                  color:$black;
                  font-weight: 600;
                  line-height: 1.2;
                }

                .btn_down{
                  @include btn_img(block, 150px, 40px);
                  margin: 0 auto;
                  color: $fontGray;
                  border: 1px solid $lightenGray;
                  line-height: 40px;

                  span{
                    padding-left: 25px;
                    background: url(#{$imgIcon}icon_down.png) no-repeat left center;
                  }

                  &:hover{
                    border: 1px solid $red;
                    color: $white;
                    background:$red;

                    span{
                      background: url(#{$imgIcon}icon_down_hover.png) no-repeat left center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//제품카타로그
#container.video{ 
  .cont{
    width:94%;
    max-width:1200px;
    margin:0 auto;
    @include after;

    .cont_section{


    }
  }
}