//회사소개
#container.company{
  .sub_visual{
    background-image:url(#{$imgSub}company/company_top.jpg);
    width:100%;
    height:345px;
    text-align:center;
    position: relative;
    background-position-y: 90px;

    @include respond-to('medium') {
      margin-top:61px;
      background-image:url(#{$imgSub}company/company_top.jpg);
      min-width: 0;
      background-position-y: 61px;
    }
  }

  .cont{
    text-align: center;
    padding:100px 0 0;
    position: relative;
    z-index: 9;

    .tit{
      padding:0 13px;
    }

    .policy{
      .policy_list{
        width:94%;
        max-width:1200px;
        margin:40px auto;

        .owl-carousel {
          @include after;
          width:100%;

          @include respond-to('small') {
            border:1px solid $lightenGray;
          }
  
          .item{
            width:$grid1;
            //margin-left:2%;
            float:left;
            border:1px solid $lightenGray;
            padding:80px 0;
            @include boxsize;

            @include respond-to('small') {
              border:none;
            }

            img{
              max-width: 123px;
              margin: auto;
            }
  
            p{
              font-size:$fontSize+6;
              margin-top:40px;
  
              span{
                font-size:$fontSize+2;
                color:$red;
                font-weight:bold;
                display:block;
                text-transform: uppercase;
              }
            }
          }

          .owl-dots{
            display:none;
          }

          .owl-nav {
            button{
              @include absolute(0, auto, 0, 15px);

              span{
                text-indent:-999999em;
                overflow:hidden;
                @include btn_img(block, 24px, 46px);
              }

              &.owl-prev{
                span{
                  background:url(#{$imgIcon}icon_slider_prev.png);
                }
              }
              &.owl-next{
                right:15px;
                left:auto;

                span{
                  background:url(#{$imgIcon}icon_slider_next.png);
                }
              }

              &:hover{
                background:none;
              }
            }
          }

        }
      }

      .policy_mid{
        padding:80px 0 150px;

        @include respond-to('medium') {
          padding:35px 0 75px;
        }

        .mid_top{
          .vision{
            height:379px;
            background:url(#{$imgSub}company/company_mid_list_bg1.png) no-repeat center top;
            position: relative;

            @include respond-to('medium') {
              width: 94%;
              margin: 0 auto;
              zoom: .8;
            }

            span{
              color: $white;
              font-size:$fontSize+6;
              @include absolute(50%, 0, auto, 0);
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);

              @include respond-to('medium') {
                font-size:$fontSize+2;
              }

              h3{
                font-size:$fontSize+18;
                font-weight:bold;
                text-transform: uppercase;

                @include respond-to('medium') {
                  font-size:$fontSize+11;
                }
  
                &:after{
                  width:50px;
                  height:1px;
                  background:$white;
                  content:"";
                  display:block;
                  margin:20px auto;
                }
              }
            }
            
          }

          .vision_btm{
            height:534px;
            background:url(#{$imgSub}company/company_mid_list_bg2.png) no-repeat center top;
            position: relative;

            @include respond-to('ssmall') {
              zoom: .8;
            }

            ul{
              @include absolute(50%, 0, auto, 0);
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);

              @include respond-to('medium') {
                top:45%;
              }
              @include respond-to('ssmall') {
                top:40%;
              }
              
              li{
                font-size:$fontSize+14;
                font-weight:bold;
                color:#db492c;
                margin-bottom:100px;
                line-height: 1;

                @include respond-to('medium') {
                  font-size:$fontSize+5;
                  margin-bottom:75px;
                }

                &:first-child{
                  color:$red;
                }

                p{
                  font-size:$fontSize+6;
                  font-weight:normal;
                  color:$darkGray;
                  margin-top:30px;

                  @include respond-to('medium') {
                    font-size:$fontSize+2;
                    margin-top:20px;
                  }
                  
                }
              }
            }
          }
        }

        .mid_bottom{
          width:94%;
          max-width:1200px;
          margin: -160px auto 0;

          @include respond-to('medium') {
            margin: -220px auto 0;
          }

          ul{
            @include after;

            @include respond-to('big-half') {
              background:url(#{$imgSub}company/company_mid_list_plus.png) no-repeat center;
            }

            li{
              float:left;
              width:$grid4;
              position: relative;
              padding:0 10px;
              @include boxsize;

              &:after{
                content:"";
                @include btn_img(block, 32px, 32px);
                background:url(#{$imgSub}company/company_mid_list_plus.png) no-repeat center;
                @include absolute(0, auto, 0, -16px);
                margin:auto;
              }

              &:first-child{
                &:after{
                  background:none;
                }
              }

              @include respond-to('big-half') {
                width:$grid2;
                margin:20px 0;

                &:after{
                  background:none;
                }
              }

              &.mid_bottom1{
                p{
                  color:#e6743b;
                }
              }
              &.mid_bottom2{
                p{
                  color:#ff9292;
                }
              }
              &.mid_bottom3{
                p{
                  color:#ccc;
                }
              }
              &.mid_bottom4{
                p{
                  color:#0a2550;
                }
              }

              img{
                display:block;
                width:100%;
                max-width:220px;
                margin:0 auto;
              }

              p{
                @include absolute(50%, 0, auto, 0);
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                font-size:$fontSize+6;
                color:#db492c;
                line-height:1.2;

                @include respond-to('medium') {
                  font-size:$fontSize+2;
                }
              }

            }
          }  
          
          >div{
            display:block;
            margin-top:60px;
            border-radius: 50px;
            color:$white;
            min-height:100px;
            background:url(#{$imgSub}company/company_mid_btn_bg.png) no-repeat center;

            @include respond-to('medium') {
              background-size: cover;
              border-radius: 30px;
              margin-top:20px;
            }

            span{
              padding-top:40px;
              display: inline-block;
              text-align: left;

              @include respond-to('medium') {
                text-align: center;
                padding:25px 0;
              }

              h4{
                font-size:$fontSize+14;
                font-weight: bold;
                float: left;
                line-height: 30px;
                display: inline-block;
                width:155px;

                @include respond-to('medium') {
                  font-size:$fontSize+5;
                  float:none;
                  margin-bottom:10px;
                }
              }

              p{
                display: block;
                overflow: hidden;
                text-align: left;
                line-height: 30px;
                font-size:$fontSize+6;
                float: left;

                @include respond-to('medium') {
                  font-size:$fontSize+2;
                  float:none;
                }
                @include respond-to('ssmall') {
                  font-size:$fontSizeM;
                }
              }
            }
            
          }
        }
      } 
    }

    .motto{
      padding:100px 0;

      &.fixed_bg{
        background-image:url(#{$imgSub}company/company_btm01.jpg);
      }

      ul{
        width:100%;
        max-width:1200px;
        margin:40px auto 0;
        @include after;

        li{
          float:left;
          width:$grid3;
          color:$white;
          font-size:$fontSize+2;
          position: relative;

          @include respond-to('large') {
            width:$grid1;
            margin-top:20px;

            &:first-child{
              margin-top:0;

            }
          }

          img{
            @include btn_img(block, 100%, auto);
            max-width: 300px;
            margin: auto;
          }

          span{
            @include absolute(50%, 0, auto, 0);
            margin: auto;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            cursor: default;

            h3{
              text-transform: capitalize;
              font-size:$fontSize+22;
              margin-bottom:20px;
              line-height:1;
              cursor: default;
            }

            &:before{
              display:block;

            }
          }

          &:hover{
            background:url(#{$imgSub}company/company_motto_bg_hover.png) no-repeat center;

            img{
              opacity:0;
            }
          }
          
        }
      }
    }

  }
}



//ceo인사말
#container.ceo{
  .cont{
    width:94%;
    max-width:1200px;
    margin:0 auto;
    @include after;

   .img{
      @include btn_img(inline-block, 380px, 600px);
      float:left;
      background:url(#{$imgSub}company/company_ceo_bg.jpg) no-repeat center top;
      background-size: contain;

      @include respond-to('large') {
        @include btn_img(block, 100%, auto);
        background:none;
      }

      img{
        display:none;

        @include respond-to('large') {
          display:block;
          width:100%;
        }
      }
    }

    .txt{
      width:calc(100% - 410px);
      padding:20px 0 0 30px;
      overflow:hidden;
      color:$fontGray;

      @include respond-to('large') {
        width:100%;
        padding:30px 0 0;
      }
      @include respond-to('medium') {
        font-size:$fontSizeM;
      }

      h4{
        color:$red;
        font-size:$fontSize+12;
        margin-bottom:50px;

        @include respond-to('huge') {
          br{
            display:none;
          }
        }
        @include respond-to('large') {
          margin-bottom:30px;
          font-size:$fontSize+10;
        }
        @include respond-to('medium') {
          font-size:$fontSize+5;
        }
      }

      .ceo_sign{
        text-align:right;
        display: block;
        margin-top:80px;

        p{
          span{
            font-weight:bold;
            letter-spacing: 5px;
            margin-left:15px;
          }
        }

        img{
          margin-top:10px;
          margin-right:-5px;
        }
      }
    }
  }
}



//연혁
@mixin list_his($since) {
  #list_his#{$since}{
    position:relative;

    &:before{
      display:block;
      content:"#{$since}";
      @include absolute(0, 0, auto, 0);
      text-align: center;
      color:$darkWhite;
      font-size:150px;
      z-index: -1;
      line-height: 1;
      font-weight:bold;
      transform: translateY(-60%);
      -webkit-transform: translateY(-60%);
      -moz-transform: translateY(-60%);

      @include respond-to('medium-half') {
        display:none;
      }
    }
  }
}

@each $since in 1985, 1991, 2006, 2014 {
  @include list_his($since);
}

#container.history{
  .cont{
    width:94%;
    max-width:1200px;
    margin:0 auto;

    .history_wrap{
      padding-top: 30px;
      
      .list-his{
        width:100%;
        @include after;

        @include respond-to('medium-half') {
          width: 98%;
          margin-left: 2%;
        }

        > div{
          float:left;
          width:40%;
          text-align:right;
          font-size:$fontSize+24;
          margin-top: -30px;
          margin-right:10%;
          @include transition;

          @include respond-to('huge') {
            margin-right:5%;
            width:30%;
          }
          @include respond-to('medium-half') {
            font-size:$fontSize+16;
            text-align:left;
            width:100%;
            @include absolute(0, auto, auto, 25px);
            margin-top: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            line-height:1.2;
          }
        }

        .list{
          text-align:left;
          font-size:$fontSize;
          position: relative;
          @include boxsize;
          border-left:1px solid $lightenGray;
          margin-top: 0;
          @include transition;
          width:50%;
          margin-right:0;

          @include respond-to('huge') {
            margin-left:0;
            width:65%;
          }

          @include respond-to('medium-half') {
            width:100%;
            position: static;
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
          }

          .dot{
            @include absolute(auto, auto, -8px, -9px);
            @include btn_img(block, 17px, 17px);
            border: 1px solid $lightenGray;
            background: none;
            border-radius: 100%;
            @include boxsize;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.4s;
            z-index: 2;

            @include respond-to('medium-half') {
              left: -8px;
            }

            &:before{
              background:$lightenGray;
              border-radius: 100%;
              content:"";
              @include btn_img(block, 5px, 5px);
              @include absolute(0, 0, 0, 0);
              margin:auto;
            }

            &.first{
              top:-8px;
              bottom:auto;
            }
          }

          ul{
            padding-left:60px;
            padding-bottom:150px;
            margin-top: -30px;

            @include respond-to('medium-half') {
              padding-left:25px;
              margin-top: 30px;
              padding-bottom:65px;
            }
  
            li{
              color:$fontGray;
              padding-top:30px;

              @include respond-to('medium-half') {
                font-size:$fontSizeM;
                padding-top:20px;
              }
  
              &:first-child{
                padding-top:20px;
              }
  
              span{
                color:$darkGray;
                font-weight:bold;
                float:left;
                width:90px;
                display:inline-block;

                @include respond-to('medium-half') {
                  width: auto;
                  margin-right: 20px;
                }
              }
  
              p{
                display:block;
                overflow:hidden;
              }
            }
          } 

          &.on{
            border-color: $red;

            .dot{
              border-color: $red;
              
              &:before{
                background:$red;
              }
            }
          }
        }

        &:last-child{
          .list{
            margin-bottom:100px;

            .dot{
              display:none;
            }

            ul{
              padding-bottom:0;
            }
          }
        }
      }
    }
  }
}



//ir정보
#container.ir_info{
  .cont_section{
    margin-top:120px;
    width:94%;
    margin:0 auto;
    max-width:1200px;

    .ir_graph{
      > img{
        @include btn_img(block, 100%, auto);
        max-width:1200px;
      }
    }

    .ir_table{
      width:100%;
      padding:100px 0 30px;

      >p{
        float: right;
        font-size:$fontSizeM;
        color:$fontGray;
      }

      table{
        width:100%;
        text-align:center;
        border-top:1px solid $darkGray;
        border-bottom:1px solid $darkGray;
        color:$fontGray;

        tr{
          border-bottom:1px solid $lightenGray;

          &.foot{
            background:$bgGray;

            &.last_foot{
              border-bottom:none;
            }

            td{
              font-weight: bold;
            }
          }

          td{
            padding:20px 0;
            vertical-align: middle;

            &.td_title{
              color:$black;
            }
          }
        }

        thead{
          td{
            color:$black;
          } 
        }

        tfoot{
          tr{
            border-top:1px solid $darkGray;
            border-bottom:1px solid $darkGray;

            td{
              font-weight: bold;

              &.td_title{
                color:$darkGray;
              } 
            }
          }
        }

      }
    }
  }
}



//조직도
#container.group{
  .cont_section{
    margin-top:120px;
    width:94%;
    margin:0 auto;
    max-width:1200px;

    @include respond-to('large') {
      margin-top:50px;
    }

    .tit{
      padding-left:0;
    }

    ul{
      text-align: center;

      &.head{
        font-size:$fontSize+2;
        font-weight:bold;
        color:$white;
        position: relative;

        @include respond-to('large') {
          font-size:$fontSize;
        } 

        &:after{
          @include btn_img(block, 1px, 100%);
          @include absolute(0, 0, 0, 0);
          margin:auto;
          background:$lightenGray;
          content:"";
          z-index: -1;

          @include respond-to('large') {
            right:auto;
            left:70px;
          } 
        }

        li{
          @include btn_img(block, 180px, 50px);
          line-height:50px;
          margin: 0 auto;
          background:url(#{$imgSub}company/company_group_head_bg2.png) no-repeat center top;
          padding-bottom:40px;

          @include respond-to('large') {
            @include btn_img(block, 140px, 40px);
            margin-left:0;
          } 

          &:first-child{
            background:url(#{$imgSub}company/company_group_head_bg1.png) no-repeat center top;
            padding-bottom:25px;
          }
        }
      }
    }

    .tree{
      position: relative;
      width:100%;
      max-width:1200px;
      margin:0 auto;
      @include after;
      text-align:center;
      background-size: 100%;

      @include respond-to('large') {
        &:before{
          @include btn_img(block, 1px, calc(100% - 25px));
          @include absolute(0, auto, auto, 70px);
          margin:auto;
          background:$lightenGray;
          content:"";
          z-index: -1;
        }
      } 
      @include respond-to('ssmall') {
        &:before{
          @include btn_img(block, 1px, calc(100% - 87px));
        }
      }

      ul{
        width:12%;
        max-width:145px;
        padding-top:60px;
        @include absolute(0, auto, auto, auto);

        @include respond-to('large') {
          width:calc(100% - 120px);
          padding-left:120px;
          position:static;
          max-width:none;
          //overflow: hidden;
          padding-top:20px;
          @include after;
        } 
        @include respond-to('ssmall') {
          max-width: 300px;
        } 

        > li{
          border:1px solid $gray;
          color:$fontGray;
          background:$white;
          line-height:50px;
          margin-bottom:20px;
          min-height: 50px;
          @include boxsize;

          @include respond-to('huge') {
            font-size:$fontSizeM;
          }    
          @include respond-to('large') {
            width: 47%;
            min-width: 120px;
            margin-bottom:0px;
            position: relative;
            float:right;
          } 

          @include respond-to('ssmall') {
            max-width: 140px;
            margin-left: 0px;
            float:none;
            margin-top:10px;

            &:before{
              @include btn_img(block, 1px, 100%);
              @include absolute(0, 0, 100%, 0);
              margin:auto;
              background:$lightenGray;
              content:"";
              z-index: -1;
            }
          } 

          &.top{
            color:$red;
            border-color:$red;
            @include respond-to('large') {
              margin-left: 0px;
              float:left;

              &:before{
                @include btn_img(block, 200%, 1px);
                @include absolute(0, auto, 0, -51px);
                margin:auto;
                background:$lightenGray;
                content:"";
                z-index: -1;
              }
            }
            @include respond-to('ssmall') {
              float:none;
              margin-top:0;

              &:before{
                @include btn_img(block, 100%, 1px);
              }

              &:after{
                display:none;
              }
            } 
          }

          &:last-child{
            margin-bottom:0;
          }
        }

        
      }
    }

    &.kor{
      margin-top:0;

      .tree{
        background:url(#{$imgSub}company/company_group_bg1.png) no-repeat center top;
        height:255px;

        @include respond-to('large') {
          background:none;
          height:auto;
        }

        > ul{
          >li{
            @include respond-to('ssmall') {
              width:100%; 
              max-width:none;
            }
          }

          &.tree0{
            left:0;
          }
          &.tree1{
            left:15.5%;
  
            @include respond-to('large') {
              .top{
                &:before{
                  width:180px;
                }
              } 
            } 
            @include respond-to('ssmall') {
              .top{
                &:before{
                  width:100%;
                }
              } 
            }
          }
          &.tree2{
            left:30.5%;
  
            @include respond-to('large') {
              li{
                &:last-child{
                  float: right;
                  //margin-right: 10px;
                  margin-top:10px;
  
                  &:before{
                    @include btn_img(block, 10px, 61px);
                    @include absolute(auto, 100%, 50%, auto);
                    margin:auto;
                    border-bottom:1px solid $lightenGray;
                    border-left:1px solid $lightenGray;
                    background:none;
                    content:"";
                    z-index: -1;
                  }
                }
              }
            }
            @include respond-to('ssmall') {
              li{
                &:last-child{
                  float: none;
  
                  &:before{
                    @include btn_img(block, 1px, 100%);
                    @include absolute(0, 0, 50%, 0);
                    margin:auto;
                    border:none;
                    background:$lightenGray;
                    content:"";
                    z-index: -1;
                  }
                }
              }
            } 
          }
          &.tree3{
            left:46.5%;
  
            @include respond-to('large') {
              .top{
                &:before{
                  @include btn_img(block, 23px, 72px);
                  @include absolute(50%, 100%, auto, auto);
                  margin:auto;
                  border-top:1px solid $lightenGray;
                  border-left:1px solid $lightenGray;
                  background:none;
                  content:"";
                  z-index: -1;
                }
              } 
            }
          }
          &.tree4{
            right:28.5%;
  
            @include respond-to('large') {
              .top{
                &:before{
                  width:180px;
                }
              } 
            } 
            @include respond-to('ssmall') {
              .top{
                &:before{
                  width:100%;
                }
              } 
            }
          }
          &.tree5{
            right:15.5%;
  
            @include respond-to('large') {
              .top{
                &:before{
                  @include btn_img(block, 23px, 72px);
                  @include absolute(auto, 100%, 50%, auto);
                  margin:auto;
                  border-bottom:1px solid $lightenGray;
                  border-left:1px solid $lightenGray;
                  background:none;
                  content:"";
                  z-index: -1;
                }
              } 
            }
          }
          &.tree6{
            right:0%;
          }
        }
      }
    }

    &.foreign{
      margin-top:120px;

      @include respond-to('large') {
        .head{
          &:after{
            height: calc(100% + 27px);
            bottom: auto;
          }
        }
      }

      .tree{
        background:none;

        @include respond-to('large') {
          &:before{
            display:none;
          }
        }

        >ul{
          position:relative;
          margin:0 auto;
          padding-top:0;
          padding-bottom:30px;
          width:180px;
          max-width: none;

          @include respond-to('large') {
            margin-left:0;
            overflow: hidden;
            padding-bottom:0;
            width:100%;
            max-width:none;
            @include boxsize;

            >li{
              width:47%;
            }
          }
          @include respond-to('ssmall') {
            >li{
              width:100%;
              max-width:none;
            }
          }

          &:after{
            @include btn_img(block, 1px, 100%);
            @include absolute(0, 0, 0, 0);
            margin:auto;
            background:$lightenGray;
            content:"";
            z-index:-1;
            
            @include respond-to('large') {
              display:none;
            }
          }
        }

        .foreign_tree{
          background:url(#{$imgSub}company/company_group_bg2.png) no-repeat center top;
          height:130px;
          position:relative;

          @include respond-to('large') {
            background:none;
            height:auto;
            width: 100%;
            margin-top:-52px;
            @include after;
          }
          @include respond-to('ssmall') {
            margin-top:0px;
          }

          ul{
            padding-top:40px;

            @include respond-to('large') {
              padding-top:0;
              position: relative;
              left:auto !important;
              right:auto !important;
              float:right;
              margin-top:20px;

              >li{
                float:right;

                &:before{
                  @include btn_img(block, 5%, 71px);
                  @include absolute(auto, 100%, 50%, auto);
                  margin: auto;
                  border-bottom: 1px solid $lightenGray;
                  border-left: 1px solid $lightenGray;
                  background: none;
                  content: "";
                  z-index: -1;
                }
              }

              &:first-child{
                margin-top:0;

                >li{
                  &:before{
                    display:none;
                  }
                }
              }
            }
            @include respond-to('ssmall') {
              margin-top:0;

              >li{
                width:100%;
                max-width:none;

                &:before{
                  @include btn_img(block, 1px, 100%);
                  @include absolute(-100%, 0, 0, 0);
                  margin:auto;
                  background:$lightenGray;
                  border:none;
                  content:"";
                  z-index:-1;
                }
              }

              &:first-child{
                margin-top:0;

                >li{
                  &:before{
                    @include btn_img(block, 1px, 100%);
                    @include absolute(-100%, 0, 0, 0);
                    margin:auto;
                    background:$lightenGray;
                    border:none;
                    content:"";
                    z-index:-1;
                  }
                }
              }
            }

            &.tree0{
              left:16%;
            }
            &.tree1{
              left:34.5%;
            }
            &.tree2{
              right:34.5%;
            }
            &.tree3{
              right:16%;
            }
          }
        }
      }
    }


  }
}


//오시는길
#container.map{
  .tab_box{
    width:70%;
    max-width:520px;
    margin:0 auto;
    text-align:center;
    border:1px solid $darkGray;
    @include after;

    @include respond-to('small') {
      position: relative;
      width:80%;
      max-width:300px;

      &:before{
        @include btn_img(block, 100%, 1px);
        content:"";
        @include absolute(0, 0, 0, 0);
        margin: auto;
        background:$darkGray;
      }
    }

    li{
      float:left;
      width:25%;
      border-left:1px solid $darkGray;
      @include boxsize;

      @include respond-to('small') {
        width:50%;

        &:nth-child(odd){
          border:none;
        }
      }

      &:first-child{
        border:none;
      }

      a{
        display:block;
        color:$darkGray;
        padding:8px 0;

        &.on{
          color:$white;
          background:$darkGray;
        }
      }
    }
  }

  .map_wrap{
    width:94%;
    max-width:1200px;
    margin:0 auto;

    .cont_section{
      padding:50px 0;
      border-top:1px solid $lightenGray;

      @include respond-to('small') {
        padding:30px 0;
      }

      &:first-child{
        border:none;
      }

      .tit{
        margin-bottom:30px;

        @include respond-to('small') {
          margin-bottom:15px;
        }
      }

      > div{
        position: relative;

        ul{
          li{
            position: relative;
            padding-left:10px;
            line-height:1.6;
            color:$fontGray;

            @include respond-to('small') {
              font-size:$fontSizeM;
            }
  
            &:after{
              content:"";
              @include btn_img(block, 3px, 3px);
              @include absolute(11px, auto, auto, 0);
              margin:auto;
              background:$fontGray;
              border-radius:100%;
            }
          }
        }
  
        .btn_map{
          background:$red;
          color:$white;
          padding:8px 0;
          text-align:center;
          @include btn_img(block, 130px, auto);
          @include absolute(auto, 0, 0, auto);

          @include respond-to('small') {
            position: static;
            margin-top:15px;
            font-size:$fontSizeM;
            width:100px;
          }
  
          span{
            padding-right:20px;
            background: url(#{$imgSub}company/company_map_btn_arrow.png) no-repeat right center;
          }
        }
      }

      .map_box{
        height:450px;
        margin-top:40px;
        display:none;

        @include respond-to('small') {
          margin-top:10px;
          height:225px;
        }

        >div{
          height:100%;
        }
      }

      &.open{
        > div{
          .btn_map{
            span{
              padding-right:20px;
              background: url(#{$imgSub}company/company_map_btn_arrow_open.png) no-repeat right center;
            }
          }
        }

      }
    }
  }
}