//@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('#{$link}SpoqaHanSansBold.woff2') format('woff2'),
    url('#{$link}SpoqaHanSansBold.woff') format('woff'),
    url('#{$link}SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('#{$link}SpoqaHanSansRegular.woff2') format('woff2'),
    url('#{$link}SpoqaHanSansRegular.woff') format('woff'),
    url('#{$link}SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('#{$link}SpoqaHanSansLight.woff2') format('woff2'),
    url('#{$link}SpoqaHanSansLight.woff') format('woff'),
    url('#{$link}SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('#{$link}SpoqaHanSansThin.woff2') format('woff2'),
    url('#{$link}SpoqaHanSansThin.woff') format('woff'),
    url('#{$link}SpoqaHanSansThin.ttf') format('truetype');
}


$fontfamily:'Spoqa Han Sans', 'Sans-serif';

*{
   font-family: $fontfamily;
}

$fontSize: 16px;
$fontSizeM: 14px;
