//
#container.lab{
  .sub_visual{
    background-image:url(#{$imgSub}lab/rnd_bg01.png);
    width:100%;
    height:345px;
    text-align:center;
    position: relative;
    background-position-y: 90px;
    display: table;
    @include respond-to('medium') {
      margin-top:61px;
      background-image:url(#{$imgSub}company/company_top.jpg);
      min-width: 0;
      background-position-y: 61px;
    }
    .txt{
      position: static;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .point{color:$red !important}
  
  .cont{
    padding:100px 0 0;
    position: relative;
    z-index: 9;
    max-width:1200px;
    margin:0 auto;
    .section{
      margin-bottom:95px;

      &.tree_box{
        .setup_area{
          text-align:center;

          .head{
            font-size: $fontSize+2;
            font-weight: bold;
            color: $white;
            position: relative;

            &:after{
              @include btn_img(block, 1px, 100%);
              @include absolute(0, 0, 0, 0);
              margin:auto;
              background: $lightenGray;
              content:"";
              z-index:-1;
            }
  
            li{
              @include btn_img(block, 180px, 50px);
              line-height: 50px;
              margin:0 auto;
              padding-bottom: 40px;
              background: url(#{$imgSub}company/company_group_head_bg1.png) no-repeat center top;
            }
          }

          .tree_inner{
            background: url(../images/sub/company/company_group_bg2.png) no-repeat center top;
            height: 130px;
            position: relative;

            ul{
              padding-top: 40px;
              width:12%;
              max-width:145px;
              @include absolute(0, auto, auto, auto);

              > li{
                border:1px solid $gray;
                color:$fontGray;
                line-height: 50px;
                min-height:50px;
                background: $white;
                @include boxsize;
              }

              &.tree0{
                left: 16%;
              }
              &.tree1{
                left: 34.5%;
              }
              &.tree2{
                right: 34.5%;
              }
              &.tree3{
                right: 16%;
              }
            }
          }
        }
      }
    
    }
    .guide{margin-bottom:95px;}
    .gray_box{
      box-sizing: border-box;
      padding:60px;
      text-align: center;
      background-color: $darkWhite;
      .point{
        font-size: 28px;
        font-weight: 500;
        margin-bottom:55px;
        display: block;
      }
      .clear{
        li{
          width:20%;
          height:150px;
          background-image: url(#{$imgSub}lab/rnd_icon_line.png);
          background-size: auto;
          background-repeat: no-repeat;
          background-position: right center;
          padding-top:15px;
          box-sizing: border-box;
          @for $i from 1 through 5 {
            &:nth-child(#{$i}){
              i{
                background-image: url(#{$imgSub}lab/rnd_icon0#{$i}.png);
                background-repeat: no-repeat;
                background-position: top center;
                display: block;
                height:70px;
                width:100%;
                margin-bottom:15px;
              }
            }
        }
          p{color:$darkGray;
          font-size:18px;
          letter-spacing: -0.056em;
          line-height: 1.22;
        }
        }
      }
    }
    .tit{margin-bottom:35px;}
    .equip{
      li{
        width:25%;
        text-align:center;
        height:250px;
        display: table;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}){
            background-image: url(#{$imgSub}lab/rnd_equip_0#{$i}.png);
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        span{
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          color:#fff;
          font-size: 22px;
          line-height: 1.18;
        }
      }
    }
  }
  .fixed_bg{
    background-image:url(#{$imgSub}lab/rnd_bg02.png);
    background-size: contain !important;
    height:600px;
    box-sizing: border-box;
  }
  .title_box{text-align: center;}
  .state.cont{
    max-width:100% !important;
    padding-top:0;
    
    .section{
      max-width: 1200px;
      margin:0 auto;
      margin-top:-300px;
      background-color:#fff;
      padding:60px 100px 120px;
      box-sizing: border-box;

      .list_box{
        .li_tit{
          width: 65%;
        }
        .num, .date{
          width: 12%;
        }
      }
    }
  }

}




