//주요제품
#container.products{
  .tab_box{
    width:70%;
    max-width:640px;
    margin:0 auto;
    text-align:center;
    border:1px solid $darkGray;
    @include after;

    @include respond-to('small') {
      position: relative;
      width:90%;
      max-width:300px;

      &:before{
        @include btn_img(block, 100%, 1px);
        content:"";
        @include absolute(0, 0, 0, 0);
        margin: auto;
        background:$darkGray;
      }
    }

    li{
      float:left;
      width:25%;
      border-left:1px solid $darkGray;
      @include boxsize;

      @include respond-to('small') {
        width:50%;

        &:nth-child(odd){
          border:none;
        }
      }

      &:first-child{
        border:none;
      }

      a{
        display:block;
        color:$darkGray;
        padding:8px 0;

        &.on{
          color:$white;
          background:$darkGray;
        }
      }
    }
  }

  .item_wrap{
    width:94%;
    max-width:1200px;
    margin:0 auto;

    .cont_section{
      padding:50px 0;

      @include respond-to('small') {
        padding:30px 0;
      }

      .tit{
        margin-bottom:30px;

        @include respond-to('small') {
          margin-bottom:15px;
        }
      }

      .list{
        position: relative;
        border-top:1px solid $lightenGray;
        margin-top:50px;
        
        > ul{
          > li{
            margin-top:50px;
            @include after;

            > div{
              float:left;
              width:60%;
              @include boxsize;

              &.img_box{
                width:40%;
                max-width:450px;
                border:1px solid $lightenGray;

                > img{
                  @include btn_img(block, 100%, auto);
                }
              }

              &.txt_box{
                padding-left:5%;

                h3{
                  color:$red;
                  font-size:$fontSize+12;
                }

                dl{
                  margin-top:30px;
                  color:$fontGray;

                  dt{
                    color:$darkGray;
                    font-weight:600;
                    margin-bottom:10px;
                  }

                  &.dot{
                    dd{
                      padding-left:15px;
                      position: relative;

                      span{
                        @include absolute(0, auto, 0, 0);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#container.process{
  .item_wrap{
    width:94%;
    max-width:1200px;
    margin:0 auto;

    .cont_section{
      margin-bottom:100px;

      .list{
        position: relative;

        > ul{
          margin-bottom:30px;
          width:102%;
          margin-left:-2%;
          @include after;

          > li{
            width:23%;
            float:left;
            margin-left:2%;
            border:1px solid $lightenGray;
            padding:30px;
            height:280px;
            @include boxsize;
            position: relative;

            &:after{
              @include btn_img(block, 10px, 17px);
              content:'';
              @include absolute(0, -7%, 0, auto);
              margin:auto;
              background:url(#{$imgSub}product/list_arrow.png) no-repeat center;
            }

            &:last-child{
              &:after{
                display:none;
              }
            }

            &.last{
              background:$darkWhite;
            }

            > div{
              h4{
                color:$red;
                font-size:$fontSize+12;
                margin-bottom:20px;

                > span{
                  color:$gray;
                  display:block;
                }
              }

              > *{
                color:$fontGray;
              }

              > p{
                margin-bottom:10px;

                > em{
                  display:block;
                  color:$darkGray;
                  font-weight:bold;
                  line-height:1.6;
                }
              }

              > ul{
                > li{
                  padding-left:15px;
                  position:relative;
                  line-height:1.6;

                  > span{
                    @include absolute(0, auto, auto, 0);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
