#container{
  .contain_head{
    @include fixed(0, 0, auto, 0);
    padding-left:90px;
    padding-top: 45px;
    width:100%;
    height:90px;
    z-index: 99;
    @include boxsize;
    background:$white;
    border-bottom:1px solid $lightenGray;

    @include respond-to('medium') {
      display:none;
    }

    .inner{
      width:94%;
      margin:0 auto;

      .menu-title{
        color:$black;
        font-size:$fontSize+8;
        font-weight:bold;
        float: left;
        line-height: 24px;
        display: inline-block;
        width: 135px;
      }

      > ul{
        display: block;
        overflow: hidden;
        text-align: left;
        line-height: 24px;
        width: calc(100% - 135px);
        font-size:$fontSizeM+1;

        li{
          float:left;
          margin-left: 30px;
          line-height: 30px;

          &:first-child{
            margin-left:0;
          }

          a{
            color:$lightGray;
          }

          &.on{
            a{
              color:$red;
            }
          }
        }
      }
    }
  }


  .sub_visual{
    margin-top:90px;
    width:100%;
    min-width: 1830px;
    height:345px;
    text-align:center;
    position: relative;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size:1830px !important;

    @include respond-to('big-over') {
      background-size: 100% !important;
    }

    @include respond-to('medium') {
      margin-top:61px;
      min-width: 0;
    }

    .txt{
      color:$white;
      font-size:$fontSize+6;
      @include fixed(200px, 0, auto, 90px);
      width:calc(100% - 90px);

      @include respond-to('medium') {
        width:80%;
        @include absolute(50%, 0, auto, 0);
        font-size:$fontSize+3;
        margin:auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
      }

      @include respond-to('ssmall') {
        font-size:$fontSize;
      }

      > *{
        font-weight:bold;
      }

      h3{
        font-size:$fontSize+24;

        @include respond-to('medium') {
          font-size:$fontSize+16;
        }

        @include respond-to('ssmall') {
          font-size:$fontSize+13;
          line-height: 1.3;
          margin-top: 5px;
        }

      }
    }
  }

  .cont{
    padding:90px 0;

    @include respond-to('medium') {
      padding:61px 0;
    }

    .title{
      display:block;
      //padding:0 13px;
      line-height:1;
      color:$black;
      font-size:$fontSize+14;
      text-align:center;
      margin:60px auto;

      @include respond-to('medium') {
        margin:30px auto;
      }
    }

    .tit{
      display:inline-block;
      padding-right:13px;
      line-height:1;
      background:url(#{$imgIcon}icon_sub_title.png) no-repeat right top;
      color:$black;
      font-size:$fontSize+14;

      @include respond-to('small') {
        font-size:$fontSize+10;
      }

      &.tit_w{
        background:url(#{$imgIcon}icon_sub_title_w.png) no-repeat right top;
        color:$white;
      }
    }
  }

  .cont_section{
    .tit{
      margin-bottom:40px;
    }
  }

  .fixed_bg{
    width:100%;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size:cover !important;
  }
}